.book {
  background-color: $color-bgDark-nav;
  color: $color-white;
  display: inline-flex;
  flex-direction: column;
  padding: 2rem;
  margin: 1rem 0;
  border-radius: 3px;
  width: 20rem;
  height: 30rem;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  text-align: center;


  &__detail {
    padding: 1rem 0;
    font-size: 1.6rem;
  }

  &__read-status {
    margin-top: 2rem;
    padding: 1rem 2rem;
    cursor: pointer;
    &::selection {
      cursor: default;
    }
    position: absolute;
    top: 45%;


    &--finished {
      border: 1px solid $color-primary-dark;
      color: $color-primary-dark;
    }

    &--not-read {
      border: 1px solid $color-redWine;
      color: $color-redWine;
    }

    &--reading {
      border: 1px solid $color-orange;
      color: $color-orange;
    }

    &:hover {
      opacity: .7;
    }
  }
}