.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s ease-in, visibility .2s ease-in;
  color: $color-black;

  &.show {
    opacity: 1;
    visibility: visible;
  }

  &__form-container {
    @include flexCenter;
    position: relative;
    flex-direction: column;
    height: 70%;
    width: 70%;
    color: $color-almostWhite-text;
    border: 1px solid $color-almostWhite-text;
    background: linear-gradient(
      105deg,
      rgba($color-bgDark-bookContainer,0.9) 0%,
      rgba($color-bgDark-nav, 0.9) 70%,
      $color-white 70%
    );

    @include respond(phone) {
      background: rgba($color-bgDark-bookContainer,0.9);
      height: 80%;
      width: 90%;
    }
  }

  &__form {
    height: 100%;
    width: 100%;
    font-size: 2rem;
    padding-left: 3rem;

  
    @include respond(phone) {
      padding: 0;
      height: auto;
      text-align: center;
    }    
  }

  &__input-group {
    margin-bottom: 3rem;
  }

  &__label {
    display: block;
  } 

  &__input {
    display: block;
    width: 65%;
    padding: 1rem;
    outline: none;
    @include respond(phone) {
      margin: auto;
      width: 90%;

    }
  }

  &__radio-section {
    display: flex;
    width: 50%;
    @include respond(phone) {
      margin: auto;
    }
  }

  &__radio-group {
    margin-right: 5rem;
    @include respond(phone) {
      margin-right: 2rem;
    }
  }

  
  
}




