.book-container {
  flex: 1;
  background-color: $color-bgDark-bookContainer;
  color: $color-almostWhite-text;
  display: grid;
  grid-gap: 2rem;
  height: 100vh;
  overflow: auto;
  justify-items: center;
  align-content: flex-start;

  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
}