//  Colors
$color-black: #000;

$color-bgDark-nav: #141414;
$color-bgDark-bookContainer: #1d1d1d;

$color-lightGrey-text: #bbbbbb;

$color-mediumGrey-borders: #808080;
$color-darkGrey-borders: #404040;

$color-almostWhite-text: #ededed;

$color-primary-dark: #00a4e5;
$color-primary-light: #1baae4;

$color-redWine: rgb(148, 1, 48);

$color-orange: orange;

$color-white: #fff;

// Shadows

// Fonts